<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Study Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "New Study", new_study_path %></li>
        <li><%= link_to "New Participant", new_participant_path %></li>
        <li><%= link_to "New Site", new_site_path %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
	<%= yield %>
</div>

</body>
</html>
